﻿<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                Copyright © @DateTime.Today.Year <a href="#">Avukatlik.net</a> Her hakkı saklıdır.
            </div>
        </div>
    </div>
</footer>
@Html.Partial("_Modal")