﻿@model AvukatliknetOnline.Models._site

<!doctype html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0f75ff">
    <meta name="theme-color" content="#9d37f6">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/content/images/brand/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/content/images/brand/favicon.ico" />
    <title>Online İşlemler | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/content/webslidemenu/color-skins/color1.css" />
    <script src="~/Content/js/vendors/jquery-3.2.1.min.js"></script>
</head>
<body class="app sidebar-mini">
    <div id="global-loader">
        <img src="~/content/images/other/loader.gif" class="loader-img " alt="">
    </div>
    <div class="page">
        <div class="page-main">
            @Html.Partial("_HeaderAvukat", Model)
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            @Html.Partial("_SidebarAvukat", Model)
            @RenderBody()
        </div>
        @Html.Partial("_FooterAvukat", Model)
    </div>
    <a href="#top" id="back-to-top"><i class="fa fa-rocket"></i></a>
    @Scripts.Render("~/Content/js")
</body>
</html>