﻿<div class="modal fade" id="content-arkadas" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" action="/avukat/arkadasima-gonder">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Arkadaşıma Gönder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <label class="col-form-label">E-Posta Adresleri</label>
                    <textarea class="form-control" name="e_posta_adresi" required></textarea>
                    <div class="invalid-feedback" style="display:block">Virgül (,) koyarak birden fazla arkadaşınıza gönderebilirsiniz.</div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 text-right">
                        <button type="submit" id="button-modal" onclick="" class="btn btn-success">Gönder</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="content-kredi" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kredi Log Açıklaması</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="content-kredi-aciklama"></p>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="content-dosya" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="body"></div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="content-kredi-kullanim" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" action="/avukat/kredi-kullandirim">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Kredi Kullanım</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="content-kredi-kullanim-aciklama"></p>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6">
                        <button type="submit" id="button-modal" name="btn_kredi_kullandirim" value="" class="btn btn-danger">Onaylıyorum</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>