﻿@model AvukatliknetOnline.Models._site
<aside class="app-sidebar doc-sidebar">
    <div class="app-sidebar__user clearfix">
        <div class="dropdown user-pro-body">
            <div>
                @if (Model.CurrResim == "")
                {
                    <img src="/content/images/faces/male/13.jpg" alt="user-img" class="avatar avatar-lg brround">
                }
                else
                {
                    <img src="~/Upload/ProfilResim/Thumb/@Model.CurrResim" alt="user-img" class="avatar avatar-lg brround">
                }
            </div>
            <div class="user-info">
                <span class="font-weight-light">Avukat</span>
                <h2 class="font-weight-light">@Model.CurrAdiSoyadi</h2>
            </div>
        </div>
    </div>
    <ul class="side-menu">
        <li class="slide">
            <a class="side-menu__item" href="/Avukat/Dashboard"><i class="side-menu__icon typcn typcn-device-desktop"></i><span class="side-menu__label">Gösterge Paneli</span></a>
        </li>
        <li class="slide">
            <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-folder"></i><span class="side-menu__label">Dosya İşlemleri</span><i class="angle fa fa-angle-right"></i></a>
            <ul class="slide-menu">
                <li><a class="slide-item" href="/avukat/gelen-dosyalar">Gelen Dosyalar</a></li>
                <li><a class="slide-item" href="/avukat/teklif-verilen-dosyalar">Teklif Verilen Dosyalar</a></li>
            </ul>
        </li>
        @*<li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-arrow-move-outline"></i><span class="side-menu__label">Apps</span><i class="angle fa fa-angle-right"></i></a>
                <ul class="slide-menu">
                    <li>
                        <a href="cards.html" class="slide-item">Cards design</a>
                    </li>
                    <li>
                        <a href="chat.html" class="slide-item">Default Chat</a>
                    </li>
                </ul>
            </li>*@
    </ul>
    <div class="app-sidebar-footer">
        <a href="/avukat/odeme-islemleri">
            <span class="fa fa-credit-card-alt" aria-hidden="true"></span>
        </a>
        <a href="/avukat/kullanici-bilgilerim">
            <span class="fa fa-user" aria-hidden="true"></span>
        </a>
        <a href="/login/oturumu-sonlandir">
            <span class="fa fa-sign-in" aria-hidden="true"></span>
        </a>
    </div>
</aside>