﻿
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="page ">
    <div class="page-content z-index-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h3 class="card-title">Şifremi Unuttum</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label text-dark">E-posta Adresi</label>
                                    <input type="email" name="e_posta_adresi" class="form-control" autocomplete="off" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Güvenlik Kodu</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="captcha" class="form-control" autocomplete="off" required>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <img src="/login/getcaptchacode" class="captcha-img">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Gönder</button>
                                </div>
                                <div class="text-center text-dark mt-3">
                                    <a href="/login">Girişe dönmek için tıklayınız</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

