﻿
@{
    ViewBag.Title = "Bilgilendirme";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title font-weight-bold">Bilgilendirme</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Bilgilendirme</li>
            </ol>
        </div>

        <div class="col-md-8 col-lg-8 offset-2">
            <div class="card">
                <div class="card-body">
                    Merhaba,<br /><br />Teklifiniz kaydedilmiş ve müşteriye gönderilmiştir.<br /><br />İyi günler dileriz.
                </div>
            </div>
        </div>
    </div>
</div>