﻿@model AvukatliknetOnline.Models._site

@{
    ViewBag.Title = "Gösterge Paneli";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title">Gösterge Paneli</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="#">Gösterge Paneli</a></li>
            </ol>
        </div>

        <div class="row row-cards">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body text-center feature">
                        <div class="fa-stack fa-lg fa-1x icons shadow-default bg-primary-transparent">
                            <i class="icon icon-eyeglass text-primary"></i>
                        </div>
                        <p class="card-text mt-3 mb-3">Okunulan Dosya Sayısı</p>
                        <p class="h2 text-center text-primary">@Model.M_AVUKAT.T_AVUKAT_DOSYA_ISLEM.Where(t => t.dosya_islem == 1).Count()</p>
                    </div>
                </div>
            </div><!-- COL END -->

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body text-center feature">
                        <div class="fa-stack fa-lg fa-1x icons shadow-default bg-secondary-transparent">
                            <i class="icon icon-briefcase text-secondary"></i>
                        </div>
                        <p class="card-text mt-3 mb-3">Verilen Dosya Teklifi</p>
                        <p class="h2 text-center text-secondary">@Model.M_AVUKAT.T_SIKAYET_AVUKAT.Count()</p>
                    </div>
                </div>
            </div><!-- COL END -->

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body text-center feature">
                        <div class="fa-stack fa-lg fa-1x icons shadow-default bg-primary-transparent">
                            <i class="icon icon-eye text-primary"></i>
                        </div>
                        <p class="card-text mt-3 mb-3">Görüntülenme Sayınız</p>
                        <p class="h2 text-center text-primary">@Model.M_AVUKAT.goruntuleme_sayisi</p>
                    </div>
                </div>
            </div><!-- COL END -->

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body text-center feature ">
                        <div class="fa-stack fa-lg fa-1x icons shadow-default bg-success-transparent">
                            <i class="icon icon-wallet text-success"></i>
                        </div>
                        <p class="card-text mt-3 mb-3">Kalan Krediniz</p>
                        <p class="h2 text-center text-success">@Model.M_AVUKAT.kredi</p>
                    </div>
                </div>
            </div><!-- COL END -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Bugün Gelen Dosyalar</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap">
                            <thead>
                                <tr>
                                    <th>Adı Soyadı</th>
                                    <th>Branş</th>
                                    <th>İl</th>
                                    <th>Geliş Tarihi</th>
                                    <th class="text-center">Teklif Sayısı</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_SIKAYET_LISTES.Where(t => t.sikayet_tarihi.ToString("dd.MM.yyyy") == DateTime.Today.ToString("dd.MM.yyyy")))
                                {
                                <tr>
                                    <td><a href="store.html" class="text-inherit">@item.adi_soyadi</a></td>
                                    <td>@item.brans_adi</td>
                                    <td>@item.il_adi</td>
                                    <td>@item.sikayet_tarihi</td>
                                    <td class="text-center">@item.teklif_sayisi</td>
                                    @if (item.teklif_okundumu > 0)
                                    {
                                        <td class="text-right"><button class="btn btn-success btn-sm" onclick="window.location.href='/avukat/teklif-ver/@item.dosya_kod'" title="Okunmuş"><i class="fa fa-pencil"></i> Teklif Ver</button></td>
                                    }
                                    else
                                    {
                                        <td class="text-right"><button class="btn btn-danger btn-sm btn-sikayet" data-id="/avukat/teklif-ver/@item.dosya_kod" data-toggle="modal" data-target="#krediuyari" data-backdrop="static"><i class="fa fa-pencil"></i> Teklif Ver</button></td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="krediuyari" tabindex="-1" role="dialog" aria-labelledby="krediuyariLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kredi Uyarısı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Dosyayı okumanız için @Model.KrediParams kredi hesabınızdan düşecektir</p>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button type="button" id="button-modal" onclick="111" class="btn btn-danger">Onaylıyorum</button>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>