﻿@model AvukatliknetOnline.Models._site

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="card m-b-20">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-label">Adı Soyadı</label>
                        <label class="form-label border p-2">@Model.M_SIKAYET.adi_soyadi</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Dava Konusu</label>
                        <label class="form-label border p-2">@Model.M_SIKAYET.T_BRANS.brans_adi</label>
                    </div>
                    @*<div class="form-group col-md-6">
                            <label class="form-label">Cep Telefonu</label>
                            <label class="form-label border p-2">@Model.M_SIKAYET.cep_telefonu</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label">E-posta Adresi</label>
                            <label class="form-label border p-2">@Model.M_SIKAYET.e_posta_adresi</label>
                        </div>*@
                    <div class="form-group col-md-6">
                        <label class="form-label">İletişim Tercihi</label>
                        <label class="form-label border p-2">@(Model.M_SIKAYET.iletisim_tercihi == 1 ? "Telefon" : "E-posta")</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Bulunduğunu Şehir</label>
                        <label class="form-label border p-2">@Model.M_SIKAYET.T_SEHIR.il_adi</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-form-label">Dosya Açıklaması</label>
                        <label class="form-label border p-3">@Html.Raw(Model.M_SIKAYET.sikayet_aciklama)</label>
                    </div>
                    @if (Model.M_SIKAYET.dosya1 != null)
                    {
                        <div class="form-group col-md-12">
                            <label class="form-label">Dosyalar</label>
                            <label class="form-label border p-2">
                                <a href="/Dosya/@Model.M_SIKAYET.dosya_kod/@Model.M_SIKAYET.dosya1">@Model.M_SIKAYET.dosya1</a>
                                <a href="/Dosya/@Model.M_SIKAYET.dosya_kod/@Model.M_SIKAYET.dosya2">@Model.M_SIKAYET.dosya2</a>
                                <a href="/Dosya/@Model.M_SIKAYET.dosya_kod/@Model.M_SIKAYET.dosya3">@Model.M_SIKAYET.dosya3</a>
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
