﻿@model AvukatliknetOnline.Models._site

@{
    ViewBag.Title = "Dosya İşlemleri";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}


<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title">Dosya İşlemleri</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Kullanıcı İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dosya İşlemleri</li>
            </ol>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title font-weight-bold">Dosya İşlemleri</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="wd-15p">Tarih</th>
                                    <th class="wd-15p">Yapılan İşlem</th>
                                    <th class="wd-15p">İşlem Sayısı</th>
                                    <th class="wd-15p text-center">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_AVUKAT_DOSYA_ISLEMS)
                                {
                                    <tr>
                                        <td>@item.islem_tarih</td>
                                        <td>@(item.dosya_islem == 1 ? "Dosya Okuma" : "Teklif Verme")</td>
                                        <td>@item.dosya_islem_sayisi</td>
                                        <td class="text-center"><a href="/avukat/dosya-detay/@item.T_SIKAYET.dosya_kod" data-toggle="modal" class="btn btn-success btn-sm btnstat-modal" data-backdrop="static" title="Şikayet Detay"><i class="fa fa-eye"></i> Detay</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#datatable").DataTable({
            "language": {
                "url": "/Content/plugins/datatable/Turkish.json"
            },
            "ordering": false,
            "pageLength": 25
        });
    });
</script>