﻿@model AvukatliknetOnline.Models._site

@{
    ViewBag.Title = "Gelen Dosyalar";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title">Gelen Dosyalar</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dosya İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gelen Dosyalar</li>
            </ol>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="hover table-bordered border-top-0 border-bottom-0" id="datatable">
                            <thead>
                                <tr>
                                    <th>Adı Soyadı</th>
                                    <th>Branş</th>
                                    <th>İl</th>
                                    <th>Geliş Tarihi</th>
                                    <th class="text-center">Teklif Sayısı</th>
                                    <th class="text-center">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_SIKAYET_LISTES)
                                {
                                <tr>
                                    <td>@item.adi_soyadi</td>
                                    <td>@item.brans_adi</td>
                                    <td>@item.il_adi</td>
                                    <td>@item.sikayet_tarihi</td>
                                    <td class="text-center">@item.teklif_sayisi</td>
                                    @if (item.teklif_okundumu > 0)
                                    {
                                        <td class="text-center"><button class="btn btn-success btn-sm" onclick="window.location.href='/avukat/teklif-ver/@item.dosya_kod'" title="Okunmuş"><i class="fa fa-pencil"></i> Teklif Ver</button></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><button class="btn btn-danger btn-sm btn-sikayet" data-id="/avukat/teklif-ver/@item.dosya_kod" data-toggle="modal" data-target="#krediuyari" data-backdrop="static"><i class="fa fa-pencil"></i> Teklif Ver</button></td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="krediuyari" tabindex="-1" role="dialog" aria-labelledby="krediuyariLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kredi Uyarısı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Dosyayı okumanız için @Model.KrediParams kredi hesabınızdan düşecektir</p>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button type="button" id="button-modal" onclick="" class="btn btn-danger">Onaylıyorum</button>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#datatable").DataTable({
            "language": {
                "url": "/Content/plugins/datatable/Turkish.json"
            },
            "ordering": false,
            "pageLength": 25
        });
    });
</script>