﻿@model AvukatliknetOnline.Models._site

@{
    ViewBag.Title = "Kredi İşlemleri";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}


<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title">Kredi İşlemleri</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Kullanıcı İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kredi İşlemleri</li>
            </ol>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Kredi İşlemleri</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tarih</th>
                                    <th class="text-center">İşlem</th>
                                    <th>Kredi</th>
                                    <th class="text-center">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_AVUKAT_KREDI_LOGS)
                                {
                                    <tr>
                                        <td class="font-weight-light">@item.islem_tarihi</td>
                                        @if (item.islem == "+")
                                        {
                                            <td class="text-center"><span class="status-icon bg-success"></span></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><span class="status-icon bg-danger"></span></td>
                                        }
                                        <td class="font-weight-light">@item.kredi_limit</td>
                                        <td class="text-center"><button class="btn btn-success btn-kredi btn-sm" data-content="@item.aciklama" data-toggle="modal" data-target="#content-kredi" data-backdrop="static"><i class="fa fa-eye"></i> Detay</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#datatable").DataTable({
            "language": {
                "url": "/Content/plugins/datatable/Turkish.json"
            },
            "ordering": false,
            "pageLength": 25
        });
    });
</script>