﻿@model AvukatliknetOnline.Models._site

@{
    ViewBag.Title = "Kullanıcı Düzenle";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title">Kullanıcı Düzenle</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Kullanıcı İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kullanıcı Düzenle</li>
            </ol>
        </div>
        @if (Model.ErrorStr != null)
        {
            <div class="p-3 border border-danger mb-3 bg-white-light">
                @Html.Raw(Model.ErrorStr)
            </div>
        }
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Profil Resmi</h3>
                    </div>
                    <div class="card-body">
                        <form action="/avukat/profil_resim_degistir" id="uploadform" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div class="row mb-5">
                                <div class="col-auto">
                                    @if (Model.M_AVUKAT.avukat_resim == null)
                                    {
                                        <img class="avatar brround avatar-xl" src="/content/images/faces/male/13.jpg" alt="@Model.M_AVUKAT.adi_soyadi">
                                    }
                                    else
                                    {
                                        <img class="avatar brround avatar-xl" src="/upload/profilresim/@Model.M_AVUKAT.avukat_resim" alt="@Model.M_AVUKAT.adi_soyadi">
                                    }
                                    <a href="#" class="profile-img" id="btnfile" style="right: 10px;">
                                        <span class="fa fa-pencil" aria-hidden="true"></span>
                                    </a>
                                    <input type="file" name="avukat_resim" id="uplodfile" style="display:none" />
                                </div>
                                <div class="col">
                                    <p class="mb-1">Avukat</p>
                                    <h3 class="mb-4">@Model.M_AVUKAT.adi_soyadi</h3>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Şifre Değişikliği</h3>
                    </div>
                    <div class="card-body">
                        <form action="/avukat/sifre_degistir" method="post">
                            <div class="form-group">
                                <label class="form-label">Şifreniz</label>
                                <input type="password" name="sifre" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label class="form-label">Yeni Şifreniz</label>
                                <input type="password" name="yeni_sifre" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label class="form-label">Yeni Şifre Tekrar</label>
                                <input type="password" name="yeni_sifre_tekrar" class="form-control" required />
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <form class="card" action="/avukat/kullanici_duzenle" method="post">
                    <div class="card-header">
                        <h3 class="card-title">Kullanıcı Düzenle</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @Html.AntiForgeryToken()
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Adınız Soyadınız <span class="text-red">*</span></label>
                                    <input type="text" class="form-control" name="adi_soyadi" value="@Model.M_AVUKAT.adi_soyadi" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Bağlı Olduğunuz Baro <span class="text-red">*</span></label>
                                    <input type="text" class="form-control" name="bagli_olunan_baro" value="@Model.M_AVUKAT.bagli_olunan_baro">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Cep Telefonunuz <span class="text-red">*</span></label>
                                    <input type="text" class="form-control" name="cep_telefonu" value="@Model.M_AVUKAT.cep_telefonu" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">E-posta Adresiniz <span class="text-red">*</span></label>
                                    <input type="email" class="form-control" name="e_posta_adresi" value="@Model.M_AVUKAT.e_posta_adresi" required>
                                    <div class="invalid-feedback" style="display:block">Şifreniz e-posta adresinize gönderilecektir.</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Adresiniz</label>
                                    <input type="text" class="form-control" name="adresi" value="@Model.M_AVUKAT.adresi">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Bulunduğunuz Şehir <span class="text-red">*</span></label>
                                    <select class="form-control select2-show-search border-bottom-0 w-100" name="il_id" required>
                                        <option value="">Seçiniz</option>
                                        @foreach (var item in Model.M_SEHIRS)
                                        {
                                            if (Model.M_AVUKAT.il_id == item.id)
                                            {
                                                <option value="@item.id" selected>@item.il_adi</option>
                                            }
                                            else
                                            {
                                                <option value="@item.id">@item.il_adi</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Dava Konuları <span class="text-red">*</span></label>
                                    <select class="form-control select2 border-bottom-0 w-100" name="brans_id" multiple required>
                                        @foreach (var item in Model.M_BRANSS)
                                        {
                                            if (Model.M_AVUKAT.T_AVUKAT_BRANS.Any(t => t.brans_id == item.id))
                                            {
                                                <option value="@item.id" selected>@item.brans_adi (@item.aciklama)</option>
                                            }
                                            else
                                            {
                                                <option value="@item.id">@item.brans_adi (@item.aciklama)</option>
                                            }
                                        }
                                    </select>
                                    <div class="invalid-feedback" style="display:block">@Model.BransLimit</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Dava Alabileceğiniz Şehirler <span class="text-red">*</span></label>
                                    <select class="form-control select2 border-bottom-0 w-100" name="ils_id" multiple required>
                                        @foreach (var item in Model.M_SEHIRS)
                                        {
                                            if (Model.M_AVUKAT.T_AVUKAT_SEHIR.Any(t => t.il_id == item.id))
                                            {
                                                <option value="@item.id" selected>@item.il_adi</option>
                                            }
                                            else
                                            {
                                                <option value="@item.id">@item.il_adi</option>
                                            }
                                        }
                                    </select>
                                    <div class="invalid-feedback" style="display:block">@Model.SehirLimit</div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Özgeçmişiniz</label>
                                    <textarea rows="10" name="ozgecmis" class="form-control content" placeholder="Kısa Özgeçmişinizi Yazınız" required>@Model.M_AVUKAT.ozgecmis</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Bilgileri Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>