﻿@model AvukatliknetOnline.Models._site

@{
    ViewBag.Title = "Kullanici Bilgilerim";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}


<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title">Kullanıcı Bilgilerim</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Kullanıcı İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kullanıcı Bilgilerim</li>
            </ol>

        </div>

        <div class="row">
            <div class="col-lg-5 col-xl-4">
                <div class="card card-profile bg-primary ">
                    <div class="card-body">
                        <div class="text-center">
                            @if (Model.M_AVUKAT.avukat_resim == null)
                            {
                                <img class="card-profile-img" src="/content/images/faces/male/13.jpg" alt="Avukat @Model.M_AVUKAT.adi_soyadi">
                            }
                            else
                            {
                                <img class="card-profile-img" src="/upload/profilresim/@Model.M_AVUKAT.avukat_resim" alt="Avukat @Model.M_AVUKAT.adi_soyadi">
                            }
                            <p class="mb-2 text-white">Avukat</p>
                            <h3 class="mb-1 text-white">@Model.M_AVUKAT.adi_soyadi</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <button class="btn btn-warning text-white btn-sm mt-2" data-toggle="modal" data-target="#content-arkadas" data-backdrop="static">
                                    <span class="fa fa-mail-forward"></span> Arkadaşıma Gönder
                                </button>
                            </div>
                            <div class="col-md-5 text-right">
                                <a href="/avukat/kullanici-duzenle" class="btn btn-success btn-sm mt-2"><i class="fa fa-pencil" aria-hidden="true"></i> Düzenle</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card p-4">
                    <div class="card-title">
                        İletişim Bilgilerim
                    </div>
                    <div class="media-list">
                        <div class="media mt-1 pb-2">
                            <div class="mediaicon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="card-body p-1 ml-5 mt-1">
                                @Model.M_AVUKAT.cep_telefonu
                            </div>
                        </div>
                        <div class="media mt-1 pb-2">
                            <div class="mediaicon">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                            <div class="card-body p-1 ml-5 mt-1">
                                @Model.M_AVUKAT.e_posta_adresi
                            </div>
                        </div>
                        <div class="media mt-1 pb-2">
                            <div class="mediaicon">
                                <i class="fa fa-gavel" aria-hidden="true"></i>
                            </div>
                            <div class="card-body p-1 ml-5 mt-1">
                                @Model.M_AVUKAT.bagli_olunan_baro
                            </div>
                        </div>
                        <div class="media mt-1 pb-2">
                            <div class="mediaicon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="card-body p-1 ml-5 mt-1">
                                @Model.M_AVUKAT.adresi
                            </div>
                        </div>
                        <div class="media mt-1 pb-2">
                            <div class="mediaicon">
                                <i class="fa fa-map-signs" aria-hidden="true"></i>
                            </div>
                            <div class="card-body p-1 ml-5 mt-1">
                                @Model.M_AVUKAT.T_SEHIR.il_adi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card p-4">
                    <div class="card-title">
                        Ücretli İşlemler
                    </div>
                    <div class="media-list">
                        <table class="table card-table table-vcenter border text-nowrap">
                            <tbody>
                                <tr>
                                    <td>Profilimi ana sayfaya göster (@Model.AnaSayfaKalmaSuresi gün)</td>
                                    @if (Model.AnaSayfadaVar == false)
                                    {
                                        <td class="text-center"><button class="btn btn-success btn-kredi-kullanim btn-sm" data-content="Ana sayfaya eklemek için hesabınızndan <b>@Model.AnaSayfaKrediEkle</b> kredi düşecektir." data-submit-value="avukat_ana_sayfaya_ekleme_kredi" data-toggle="modal" data-target="#content-kredi-kullanim" data-backdrop="static"><i class="fa fa-plus"></i></button></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><button class="btn btn-gray btn-sm"><i class="fa fa-plus"></i></button></td>
                                    }
                                </tr>
                                <tr>
                                    <td>Şehir ekleme sayımı arttır</td>
                                    @if (Model.EklenecekSehirYok == false)
                                    {
                                        <td class="text-center"><button class="btn btn-success btn-kredi-kullanim btn-sm" data-content="Şehir sayısını arttırmak (1 adet) için hesabınızndan <b>@Model.SehirKrediEkle</b> kredi düşecektir." data-submit-value="avukat_sehir_ekleme_kredi" data-toggle="modal" data-target="#content-kredi-kullanim" data-backdrop="static"><i class="fa fa-plus"></i></button></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><button class="btn btn-gray btn-sm"><i class="fa fa-plus"></i></button></td>
                                    }
                                </tr>
                                <tr>
                                    <td>Branş ekleme sayımı arttır</td>
                                    @if (Model.EklenecekBransYok == false)
                                    {
                                        <td class="text-center"><button class="btn btn-success btn-kredi-kullanim btn-sm" data-content="Branş sayısını arttırmak (1 adet) için hesabınızndan <b>@Model.BransKrediEkle</b> kredi düşecektir." data-submit-value="avukat_brans_ekleme_kredi" data-toggle="modal" data-target="#content-kredi-kullanim" data-backdrop="static"><i class="fa fa-plus"></i></button></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><button class="btn btn-gray btn-sm"><i class="fa fa-plus"></i></button></td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div id="profile-log-switch" class="mb-5">
                            <div class="row pb-5 border-bottom">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h6 class="card-title">Dava Alabileceğiniz Şehirler</h6>
                                    <ul class="list-group">
                                        @foreach (var item in Model.M_AVUKAT.T_AVUKAT_SEHIR)
                                        {
                                            <li class="listunorder">@item.T_SEHIR.il_adi</li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h3 class="card-title">Dava Konularınız</h3>
                                    <ul class="list-group">
                                        @foreach (var item in Model.M_AVUKAT.T_AVUKAT_BRANS)
                                        {
                                            <li class="listunorder">@item.T_BRANS.brans_adi</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5 profie-img">
                            <div class="col-md-12">
                                <div class="media-heading">
                                    <h3 class="card-title mb-2">Özgeçmişiniz</h3>
                                </div>
                                @if (Model.M_AVUKAT.ozgecmis == null)
                                {
                                    <p class="text-red">
                                        Lütfen özgeçmişinizi yazınız! Sizi web sitemizde daha iyi tanıtabiliriz. 
                                    </p>
                                }
                                else
                                {
                                    <p class="font-weight-light">
                                        @Html.Raw(Model.M_AVUKAT.ozgecmis)
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Son Yapılan 10 Kredi İşlemi</h3>
                        <div class="card-options">
                            <a href="/avukat/kredi-islemleri" class="btn btn-primary btn-sm mr-2">Tümü</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter border text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Tarih</th>
                                        <th class="text-center">İşlem</th>
                                        <th>Kredi</th>
                                        <th class="text-center">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.M_AVUKAT_KREDI_LOGS)
                                    {
                                        <tr>
                                            <td>@item.islem_tarihi</td>
                                            @if (item.islem == "+")
                                            {
                                                <td class="text-center"><span class="status-icon bg-success"></span></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"><span class="status-icon bg-danger"></span></td>
                                            }
                                            <td>@item.kredi_limit</td>
                                            <td class="text-center"><button class="btn btn-success btn-kredi btn-sm" data-content="@item.aciklama" data-toggle="modal" data-target="#content-kredi" data-backdrop="static"><i class="fa fa-eye"></i> Detay</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">Son Yapılan 10 Dosya İşlemi</h6>
                        <div class="card-options">
                            <a href="/avukat/dosya-islemleri" class="btn btn-primary btn-sm mr-2">Tümü</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter border text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Tarih</th>
                                        <th>İşlem</th>
                                        <th>Sayısı</th>
                                        <th class="text-center">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.M_AVUKAT_DOSYA_ISLEMS)
                                    {
                                        <tr>
                                            <td>@item.islem_tarih</td>
                                            <td>@(item.dosya_islem == 1 ? "Dosya Okuma" : "Teklif Verme")</td>
                                            <td>@item.dosya_islem_sayisi</td>
                                            <td class="text-center"><a href="/avukat/dosya-detay/@item.T_SIKAYET.dosya_kod" data-toggle="modal" class="btn btn-success btn-sm btnstat-modal" data-backdrop="static" title="Şikayet Detay"><i class="fa fa-eye"></i> Detay</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>