﻿@model AvukatliknetOnline.Models._site

@{
    ViewBag.Title = "Ödeme İşlemleri";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title">Ödeme İşlemleri</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Ödeme İşlemleri</li>
            </ol>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Ödeme İşlemleri</div>
                </div>
                <div class="card-body">
                    <div class="row pb-3 border-bottom">
                        @foreach (var item in Model.M_KREDI_PLANS)
                        {
                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="card-category">@item.kredi <span class="text-lowercase">kredi</span></div>
                                        <div class="display-3 my-4">@item.fiyat ₺</div>
                                        <div class="text-center mt-6">
                                            <a href="#" class="btn btn-secondary btn-block">Ödeme Yap</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="iyzipay-checkout-form" class="popup"></div>
                    <div class="card-title pt-5">Ödeme Listesi</div>
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tarih</th>
                                    <th class="text-center">İşlem</th>
                                    <th>Kredi</th>
                                    <th>Ödeme No</th>
                                    <th class="text-center">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_AVUKAT_KREDI_LOGS)
                                {
                                <tr>
                                    <td>@item.islem_tarihi</td>
                                    <td class="text-center"><span class="status-icon bg-success"></span></td>
                                    <td>@item.kredi_limit</td>
                                    <td>@item.odeme_id</td>
                                    <td class="text-center"><button class="btn btn-success btn-kredi btn-sm" data-content="@item.aciklama" data-toggle="modal" data-target="#content-kredi" data-backdrop="static"><i class="fa fa-eye"></i> Detay</button></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#datatable").DataTable({
            "language": {
                "url": "/Content/plugins/datatable/Turkish.json"
            },
            "ordering": false,
            "pageLength": 25
        });
    });
</script>