﻿@model AvukatliknetOnline.Models._site

@{
    ViewBag.Title = "Teklif Düzenle";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title">Teklif Düzenle</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dosya İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page">Teklif Düzenle</li>
            </ol>
        </div>

        @if (ViewBag.Uygunmu == "1")
        {
            <div class="card">
                <div class="card-body">
                    <div class="border-0">
                        @ViewBag.Mesaj
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    @*@if (ViewBag.Mesaj != "")
                        {
                            <div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>@ViewBag.Mesaj</div>
                        }*@
                    <div class="card m-b-20">
                        <div class="card-header">
                            <h3 class="card-title">@Model.M_SIKAYET.dosya_kod numaralı dosya</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" id="sikayet_teklif_form">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@Model.M_SIKAYET_AVUKAT.sikayet_kodu" />
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Adı Soyadı</label>
                                        <label class="form-label text-gray-dark border p-2 font-weight-normal">@Model.M_SIKAYET.adi_soyadi</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Dava Konusu</label>
                                        <label class="form-label text-gray-dark border p-2 font-weight-normal">@Model.M_SIKAYET.T_BRANS.brans_adi</label>
                                    </div>
                                    @*<div class="form-group col-md-6">
                                            <label class="form-label font-weight-bold">Cep Telefonu</label>
                                            <label class="form-label text-gray-dark border p-2 font-weight-normal">@Model.M_SIKAYET.cep_telefonu</label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-label font-weight-bold">E-posta Adresi</label>
                                            <label class="form-label text-gray-dark border p-2 font-weight-normal">@Model.M_SIKAYET.e_posta_adresi</label>
                                        </div>*@
                                    <div class="form-group col-md-6">
                                        <label class="form-label">İletişim Tercihi</label>
                                        <label class="form-label text-gray-dark border p-2 font-weight-normal">@(Model.M_SIKAYET.iletisim_tercihi == 1 ? "Telefon" : "E-posta")</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Bulunduğunu Şehir</label>
                                        <label class="form-label text-gray-dark border p-2 font-weight-normal">@Model.M_SIKAYET.T_SEHIR.il_adi</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-form-label">Dosya Açıklaması</label>
                                        <label class="form-label text-gray-dark border p-3 font-weight-normal">@Html.Raw(Model.M_SIKAYET.sikayet_aciklama)</label>
                                    </div>
                                    @if (Model.M_SIKAYET.dosya1 != null)
                                    {
                                        <div class="form-group col-md-12">
                                            <label class="form-label">Dosyalar</label>
                                            <label class="form-label border p-2">
                                                <a href="/Dosya/@Model.M_SIKAYET.dosya_kod/@Model.M_SIKAYET.dosya1">@Model.M_SIKAYET.dosya1</a>
                                                <a href="/Dosya/@Model.M_SIKAYET.dosya_kod/@Model.M_SIKAYET.dosya2">@Model.M_SIKAYET.dosya2</a>
                                                <a href="/Dosya/@Model.M_SIKAYET.dosya_kod/@Model.M_SIKAYET.dosya3">@Model.M_SIKAYET.dosya3</a>
                                            </label>
                                        </div>
                                    }
                                    <div class="col-md-12" id="teklif_yaz_div">
                                        <div class="mt-5">
                                            <label class="col-form-label">Teklif Açıklaması</label>
                                            <textarea class="content" id="teklif_aciklama" name="teklif_aciklama">@Model.M_SIKAYET_AVUKAT.teklif_aciklama</textarea>
                                        </div>
                                        <div class="mt-5 text-center">
                                            <button type="button" class="btn btn-danger" id="teklif_gonder" data-toggle="modal" data-target="#krediuyari" data-backdrop="static"><i class="fe fe-file-plus"></i> Teklifi Düzenle ve Gönder</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="krediuyari" tabindex="-1" role="dialog" aria-labelledby="krediuyariLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Dosya Gönderimi</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Teklif düzenlenip tekrar gönderilecektir. Göndermek istediğinize emin misiniz ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="col-md-6">
                                                    <button type="submit" id="button-modal" class="btn btn-danger">Onaylıyorum</button>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>