﻿@model AvukatliknetOnline.Models._site

@{
    ViewBag.Title = "Teklif Verilen Dosyalar";
    Layout = "~/Views/Shared/_LayoutAvukat.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header bg-white-light">
            <h4 class="page-title">Teklif Verilen Dosyalar</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dosya İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page">Teklif Verilen Dosyalar</li>
            </ol>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="hover table-bordered border-top-0 border-bottom-0" id="datatable">
                            <thead>
                                <tr>
                                    <th>Adı Soyadı</th>
                                    <th>Branş</th>
                                    <th>İl</th>
                                    <th>Geliş Tarihi</th>
                                    <th class="text-center">Teklif Sayısı</th>
                                    <th class="text-center">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.M_SIKAYET_LISTES)
                                {
                                    <tr>
                                        <td>@item.adi_soyadi</td>
                                        <td>@item.brans_adi</td>
                                        <td>@item.il_adi</td>
                                        <td>@item.sikayet_tarihi</td>
                                        <td class="text-center">@item.teklif_sayisi</td>
                                        <td class="text-center"><a href="/avukat/teklif-duzenle/@item.dosya_kod" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i> Teklif Düzenle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#datatable").DataTable({
            "language": {
                "url": "/Content/plugins/datatable/Turkish.json"
            },
            "ordering": false,
            "pageLength": 25
        });
    });
</script>